In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
%sql sqlite:///library.db

'Connected: @library.db'

In [16]:
%%sql
DROP TABLE IF EXISTS branches;
CREATE TABLE branches (
    branchID int NOT NULL,
    name varchar(250) NOT NULL,
    address varchar(250) NOT NULL,
    PRIMARY KEY (branchID)
);
SET NOCOUNT ON;

 * sqlite:///library.db
Done.
Done.
(sqlite3.OperationalError) near "SET": syntax error
[SQL: SET NOCOUNT ON;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [17]:
%sql PRAGMA table_info(branches);

 * sqlite:///library.db
Done.

[(0, 'branchID', 'int', 1, None, 1),
 (1, 'name', 'varchar(250)', 1, None, 0),
 (2, 'address', 'varchar(250)', 1, None, 0)]

In [18]:
%%sql
INSERT INTO branches (branchID, name, address)
VALUES ('11111', 'TestName', 'TestAddress');
SET NOCOUNT ON;

 * sqlite:///library.db
1 rows affected.
(sqlite3.OperationalError) near "SET": syntax error
[SQL: SET NOCOUNT ON;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [20]:
%sql SELECT * FROM branches;

 * sqlite:///library.db
Done.

[(11111, 'TestName', 'TestAddress')]